<section class="govuk-width-container @Class">
    <div class="govuk-summary-list govuk-summary-list--border">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Account Type</dt>
            <dd class="govuk-summary-list__value">
                @if (Invoice != null) {
                        @Invoice.AccountType
                    }
                    </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Organisation</dt>
            <dd class="govuk-summary-list__value">
                @if (Invoice != null) {
                        @Invoice.Organisation
                    }
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Scheme Type</dt>
            <dd class="govuk-summary-list__value">
                @if (Invoice != null) {
                        @Invoice.SchemeType
                    }
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Payment Type</dt>
            <dd class="govuk-summary-list__value">
                @if (Invoice != null) {
                        @Invoice.PaymentType
                    }
            </dd>
        </div>
    </div>
</section>
