@page "/invoice/summary/{scheme}/{invoiceId}"
@page "/invoice/summary/{scheme}/{invoiceId}/{backUrl}"
@using EST.MIT.Web.Models;
@using EST.MIT.Web.Shared.Components.PaymentRequestCard
@using EST.MIT.Web.Shared.Components.InvoiceMetaData

<section class="govuk-width-container govuk-!-padding-top-3">
    <a href="@GetBackUrl()" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-l">Invoice Summary</h1>
    <InvoiceMetaData Invoice=invoice />
    @if (invoice != null)
    {
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Invoice Id: @invoice.Id</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Status</dt>
                    <dd class="govuk-summary-list__value"><strong class="govuk-tag">@invoice.Status</strong></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Created On</dt>
                <dd class="govuk-summary-list__value">@invoice.Created.ToString("dd-MM-yyyy HH:mm tt")</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-third">Number Of Payment Requests</dt>
                <dd class="govuk-summary-list__value">@invoice.NumberOfPaymentRequests</dd>
            </div>
                    @if (invoice.TotalValueOfPaymentsGBP > 0)
                    {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-third">Total Value of GBP Payments</dt>
                    <dd class="govuk-summary-list__value" id="total-value-of-payments-gbp">@invoice.TotalValueOfPaymentsGBP GBP</dd>
                </div>
                    }
                    @if (invoice.TotalValueOfPaymentsEUR > 0)
                    {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-third">Total Value of EUR Payments</dt>
                    <dd class="govuk-summary-list__value" id="total-value-of-payments-eur">@invoice.TotalValueOfPaymentsEUR EUR</dd>
                </div>
                    }
            </dl>
        </div>
        </div>
    }
</section>

<section class="govuk-width-container govuk-!-padding-top-3">
    <h2 class="govuk-heading-m">Payment Requests</h2>
    @if (invoice != null)
    {
        @if (!readOnly)
        {
            <button id="add-payment-request" class="govuk-button" data-prevent-double-click="true" data-module="govuk-button" @onclick="AddPaymentRequest">Add Payment Request</button>
        }

        @if (!invoice.PaymentRequests.Any())
        {

            <div id="no-payment-request-warning" class="govuk-form-group--error">
                <h1 class="govuk-heading-l">This invoice currently has no payment requests</h1>
                <div class="govuk-hint">You can select Add Payment Request to include one with this invoice.</div>
            </div>
        }
        else
        {
            @if (invoice.CanBeSentForApproval)
            {
                <button id="send-approval" class="govuk-button govuk-button--secondary govuk-!-margin-left-1" data-prevent-double-click="true" data-module="govuk-button" @onclick="SendForApproval">Send For Approval</button>
            }

            @foreach (var request in invoice.PaymentRequests)
            {
                <CascadingValue Value="this">
                    <PaymentRequestCard PaymentRequest=request AccountType=@invoice.AccountType ReadOnly="@readOnly" />
                </CascadingValue>
            }
        }
    }
</section>