

<div class="govuk-form-group @(IsErrored ? "govuk-form-group--error" : "")">
    <label class="govuk-label" for="@Key">@Label</label>
    @if(IsErrored)
    {
        <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> @err
        </p>
        <InputText class="govuk-input govuk-input--error" id="@Key" name="@Key" @bind-Value="Data" />
    }
    else
    {
        <InputText class="govuk-input" id="@Key" name="@Key" @bind-Value="Data" />
    }
</div>