<div class="govuk-summary-card mit-payment-request-summary">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Payment Request Id: @PaymentRequest.PaymentRequestId</h2>
        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
                <a class="govuk-link govuk-!-padding-left-2" href="/invoice/payment-request/details/@_Parent.scheme/@_Parent.invoiceId/@PaymentRequest.PaymentRequestId">View<span class="govuk-visually-hidden">Payment Request</span></a>
            </li>
            @if (!ReadOnly)
            {
                <li class="govuk-summary-card__action">
                    <a class="govuk-link govuk-!-padding-left-2" href="/invoice/edit-payment-request/@PaymentRequest.PaymentRequestId">Edit<span class="govuk-visually-hidden">Payment Request</span></a>
                </li>
                <li class="govuk-summary-card__action">
                    <a class="govuk-link" href="/payment-request/delete/@PaymentRequest.PaymentRequestId">Delete<span class="govuk-visually-hidden">Payment Request</span></a>
                </li>
            }
        </ul>
    </div>

    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            @{
                if (!String.IsNullOrEmpty(@PaymentRequest.FRN))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">FRN</dt>
                        <dd class="govuk-summary-list__value">@PaymentRequest.FRN</dd>
                    </div>
                }
                if (!String.IsNullOrEmpty(PaymentRequest.SBI))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">SBI</dt>
                        <dd class="govuk-summary-list__value">@PaymentRequest.SBI</dd>
                    </div>
                }

                if (!String.IsNullOrEmpty(PaymentRequest.Vendor))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Vendor</dt>
                        <dd class="govuk-summary-list__value">@PaymentRequest.Vendor</dd>
                    </div>
                }
            }
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Marketing Year</dt>
                <dd class="govuk-summary-list__value">@PaymentRequest.MarketingYear</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Agreement Number</dt>
                <dd class="govuk-summary-list__value">@PaymentRequest.AgreementNumber</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Currency</dt>
                <dd class="govuk-summary-list__value">@PaymentRequest.Currency</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Description</dt>
                <dd class="govuk-summary-list__value">@PaymentRequest.Description</dd>
            </div>

            @if (AccountType == "AR")
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Original Claim Reference</dt>
                    <dd class="govuk-summary-list__value">@PaymentRequest.OriginalInvoiceNumber</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Original AP Invoice Settlement Date</dt>
                    <dd class="govuk-summary-list__value">@PaymentRequest.OriginalSettlementDate.ToString("dd/MM/yyyy")</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Earliest date possible recovery first identified</dt>
                    <dd class="govuk-summary-list__value">@PaymentRequest.RecoveryDate.ToString("dd/MM/yyyy")</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Correction Reference - Previous AR Invoice ID</dt>
                    <dd class="govuk-summary-list__value">@PaymentRequest.InvoiceCorrectionReference</dd>
                </div>
            }

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Value</dt>
                <dd class="govuk-summary-list__value">@PaymentRequest.Value</dd>
            </div>
        </dl>
    </div>

</div>