<div class="govuk-form-group @(IsErrored ? "govuk-form-group--error" : "")">
    <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="@Key">@Label</label>
    </h1>
    <div id="@Key-hint" class="govuk-hint">
        @Hint
    </div>
    @if(IsErrored)
    {
        @foreach(var error in err)
        {
            <p class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @error
            </p>
        }
    }
    <textarea @bind="Data" class="govuk-textarea @(IsErrored ? "govuk-textarea--error" : "")" id="@Key" name="@Key" rows="5" aria-describedby="@Key-hint"></textarea>
</div>