@page "/invoice/view-invoice-lines/{PaymentRequestId}"
@using Helpers

@if (!paymentRequest.IsNull())
{
    <section class="govuk-width-container govuk-!-padding-top-3">
        <a class="govuk-back-link" href="/invoice/summary/@invoice.SchemeType/@invoice.Id/@backUrl">Back</a>
        <h1 class="govuk-heading-l">
            Payment Request Summary
        </h1>
    </section>

    <section class="govuk-width-container govuk-!-padding-top-3">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Payment Request Id: @PaymentRequestId</h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link" href="/invoice/edit-payment-request/@PaymentRequestId" id="edit-payment-request" @onclick="UpdatePaymentRequest">Edit</a>
                    </li>
                </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    @{
                        if (!String.IsNullOrEmpty(@paymentRequest.FRN))
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">FRN</dt>
                                <dd class="govuk-summary-list__value">@paymentRequest.FRN</dd>
                            </div>
                        }
                        if (!String.IsNullOrEmpty(@paymentRequest.SBI))
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">SBI</dt>
                                <dd class="govuk-summary-list__value">@paymentRequest.SBI</dd>
                            </div>
                        }
                        if (!String.IsNullOrEmpty(@paymentRequest.Vendor))
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Vendor</dt>
                                <dd class="govuk-summary-list__value">@paymentRequest.Vendor</dd>
                            </div>
                        }
                    }
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Marketing Year</dt>
                        <dd class="govuk-summary-list__value">@paymentRequest.MarketingYear</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Agreement Number</dt>
                        <dd class="govuk-summary-list__value">@paymentRequest.AgreementNumber</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Currency</dt>
                        <dd class="govuk-summary-list__value">@paymentRequest.Currency</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Description</dt>
                        <dd class="govuk-summary-list__value">@paymentRequest.Description</dd>
                    </div>

                    @if (invoice.AccountType == "AR")
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Original Claim Reference</dt>
                            <dd class="govuk-summary-list__value">@paymentRequest.OriginalInvoiceNumber</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Original AP Invoice Settlement Date</dt>
                            <dd class="govuk-summary-list__value">@paymentRequest.OriginalSettlementDate.ToString("dd/MM/yyyy")</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Earliest date possible recovery first identified</dt>
                            <dd class="govuk-summary-list__value">@paymentRequest.RecoveryDate.ToString("dd/MM/yyyy")</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Correction Reference - Previous AR Invoice ID</dt>
                            <dd class="govuk-summary-list__value">@paymentRequest.InvoiceCorrectionReference</dd>
                        </div>
                    }
                </dl>
            </div>
        </div>

    </section>

    <section class="govuk-width-container">
        <button class="govuk-button" id="add-invoice-line" @onclick="AddInvoiceLine">Add Invoice Line</button>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Fund Code</th>
                    <th scope="col" class="govuk-table__header">Main Account</th>
                    <th scope="col" class="govuk-table__header">Scheme Code</th>
                    <th scope="col" class="govuk-table__header">Marketing Year</th>
                    <th scope="col" class="govuk-table__header">Delivery Body</th>
                    <th scope="col" class="govuk-table__header">Line Value</th>
                    <th scope="col" class="govuk-table__header">Description</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var line in paymentRequest.InvoiceLines)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@line.FundCode</td>
                        <td class="govuk-table__cell">@line.MainAccount</td>
                        <td class="govuk-table__cell">@line.SchemeCode</td>
                        <td class="govuk-table__cell">@line.MarketingYear</td>
                        <td class="govuk-table__cell">@line.DeliveryBody</td>
                        <td class="govuk-table__cell">@line.Value</td>
                        <td class="govuk-table__cell">@line.Description</td>
                        <td class="govuk-table__cell">
                            <a id="update-invoice-line" class="govuk-link" href=""
                            @onclick="@(() => UpdateInvoiceLine(@line.Id))">Edit</a> |
                            <a id="delete-invoice-line" class="govuk-link" href=""
                            @onclick="@(() => DeleteInvoiceLine(@line.Id))">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
}