@using Helpers

@if(invoice.IsNull())
{
	<div class="govuk-summary-card">
		<div class="govuk-summary-card__title-wrapper">
			<h2 class="govuk-summary-card__title">Error</h2>
		</div>
		<div class="govuk-summary-card__content">
			<h4 class="govuk-heading-s">Nothing to Display</h4>
			<div class="govuk-warning-text">
				<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
				<strong class="govuk-warning-text__text">
					<span class="govuk-warning-text__assistive">Information</span>
					Has the invoice parameter been set?
				</strong>
			</div>
		</div>
	</div>
}
else
{ 
	<div class="govuk-summary-card">
		<div class="govuk-summary-card__title-wrapper">
			<h2 class="govuk-summary-card__title">@invoice.Id</h2>
			<ul class="govuk-summary-card__actions">
				<li class="govuk-summary-card__action">
					<a class="govuk-link govuk-!-padding-left-2" href="/invoice/summary/@invoice.SchemeType/@invoice.Id">View<span class="govuk-visually-hidden">Invoice</span></a>
				</li>
				<li class="govuk-summary-card__action">
					<a id="approve-approval-link" class="govuk-link govuk-!-padding-left-2" href @onclick="Approve">Approve<span class="govuk-visually-hidden">Invoice</span></a>
				</li>
				<li class="govuk-summary-card__action">
					<a id="reject-approval-link" class="govuk-link" href @onclick="Reject">Reject<span class="govuk-visually-hidden">Invoice</span></a>
				</li>
			</ul>
		</div>

		<div class="govuk-summary-card__content">
			<div class="govuk-grid-row govuk-!-padding-left-3">
				<InvoiceMetaData invoice="@invoice" />
			</div>
			<dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-width-one-third">FRN</dt>
					<dd class="govuk-summary-list__value">@invoice.PaymentRequests[0].FRN</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-width-one-third">Included Payment Requests</dt>
					<dd class="govuk-summary-list__value">@invoice.PaymentRequests.Count()</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-width-one-third">Total Value</dt>
					<dd class="govuk-summary-list__value">@invoice.PaymentRequests[0].Value @invoice.PaymentRequests[0].Currency</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-width-one-third">Submitted By</dt>
					<dd class="govuk-summary-list__value">@invoice.UpdatedBy</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key govuk-!-width-one-third">Submitted</dt>
					<dd class="govuk-summary-list__value">@invoice.Updated</dd>
				</div>
			</dl>
		</div> 

	</div>
}