@page "/invoice/add-invoice-line/{PaymentRequestId}"
@using EST.MIT.Web.Shared.Components.SummaryPaymentRequest
@using EST.MIT.Web.Shared.Components.GDSInputDecimal
@using EST.MIT.Web.Shared.Components.GDSInputText
@using Helpers

@if (!paymentRequest.IsNull())
{
    <section class="govuk-width-container govuk-!-padding-top-9">
        <h1 class="govuk-heading-l">
            Add Invoice Line
        </h1>
    </section>

    <section class="govuk-width-container">

        @if (errors.Count > 0)
        {
            <div class="govuk-error-summary" data-module="govuk-error-summary" autofocus="autofocus">
                <div role="alert">
                    <h2 class="govuk-error-summary__title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            @foreach (var error in errors)
                            {
                                @foreach (var value in error.Value)
                                {
                                    <li>
                                        <a href="#@error.Key">@value</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
        <SummaryPaymentRequest PaymentRequest="paymentRequest" HideActions=true />

        <EditForm Model="invoiceLine">

            <GDSInputDecimal Label="Line Value" @bind-Data="invoiceLine.Value" Key="Value" Errors=errors />

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group @(String.IsNullOrEmpty(ErrorMessagesForField(nameof(invoiceLine.Description))) ? "" : "govuk-form-group--error")">
                        <label class="govuk-label" for="description">Description</label>
                        @if (!String.IsNullOrEmpty(ErrorMessagesForField(nameof(invoiceLine.Description))))
                        {
                            <p id="description" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> @ErrorMessagesForField(nameof(invoiceLine.Description))
                            </p>
                        }
                        <InputSelect class="@(String.IsNullOrEmpty(ErrorMessagesForField(nameof(invoiceLine.Description))) ? "govuk-select govuk-!-width-full" : "govuk-select govuk-!-width-full govuk-select--error")" for="description" @bind-Value="invoiceLine.Description">
                            <option value="">Select</option>
                            <option value="G00 - Gross value of claim">G00 - Gross value of claim</option>
                            <option value="P05 - Late claim submission penalty">P05 - Late claim submission penalty</option>
                            <option value="P06 - Late change penalty">P06 - Late change penalty</option>
                            <option value="P08 - Non declaration of land penalty">P08 - Non declaration of land penalty</option>
                            <option value="P22 - Rural Development refusals">P22 - Rural Development refusals</option>
                            <option value="P23 - Rural Development withdrawals">P23 - Rural Development withdrawals</option>
                            <option value="P24 - Over Declaration reduction">P24 - Over Declaration reduction</option>
                        </InputSelect>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group @(String.IsNullOrEmpty(ErrorMessagesForField(nameof(invoiceLine.DeliveryBody))) ? "" : "govuk-form-group--error")">
                        <label class="govuk-label" for="delivery-body">Delivery Body</label>

                        @if (!String.IsNullOrEmpty(ErrorMessagesForField(nameof(invoiceLine.DeliveryBody))))
                        {
                            <p id="delivery-body" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> @ErrorMessagesForField(nameof(invoiceLine.DeliveryBody))
                            </p>
                        }

                        <InputSelect class="@(String.IsNullOrEmpty(ErrorMessagesForField(nameof(invoiceLine.DeliveryBody))) ? "govuk-select govuk-!-width-full" : "govuk-select govuk-!-width-full govuk-select--error")" for="delivery-body" @bind-Value="invoiceLine.DeliveryBody">
                            <option value="">Select</option>
                            @foreach (var deliveryBody in allDeliveryBodies)
                            {
                                <option value="@deliveryBody.Key">@deliveryBody.Key</option>
                            }
                        </InputSelect>
                    </div>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group @(String.IsNullOrEmpty(ErrorMessagesForField(nameof(invoiceLine.FundCode))) ? "" : "govuk-form-group--error")">
                        <label class="govuk-label" for="fund-code">Fund Code</label>
                        @if (!String.IsNullOrEmpty(ErrorMessagesForField(nameof(invoiceLine.FundCode))))
                        {
                            <p id="description" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> @ErrorMessagesForField(nameof(invoiceLine.FundCode))
                            </p>
                        }
                        <InputSelect class="@(String.IsNullOrEmpty(ErrorMessagesForField(nameof(invoiceLine.FundCode))) ? "govuk-select govuk-!-width-full" : "govuk-select govuk-!-width-full govuk-select--error")" for="fund-code" @bind-Value="invoiceLine.FundCode">
                            <option value="">Select</option>
                            @foreach (var fundCode in allFundCodes)
                            {
                                <option value="@fundCode.Key">@fundCode.Key</option>
                            }
                        </InputSelect>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group @(String.IsNullOrEmpty(ErrorMessagesForField(nameof(invoiceLine.MainAccount))) ? "" : "govuk-form-group--error")">
                        <label class="govuk-label" for="main-account">Main Account</label>
                        @if (!String.IsNullOrEmpty(ErrorMessagesForField(nameof(invoiceLine.MainAccount))))
                        {
                            <p id="description" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> @ErrorMessagesForField(nameof(invoiceLine.MainAccount))
                            </p>
                        }
                        <InputSelect class="@(String.IsNullOrEmpty(ErrorMessagesForField(nameof(invoiceLine.MainAccount))) ? "govuk-select govuk-!-width-full" : "govuk-select govuk-!-width-full govuk-select--error")" for="main-account" @bind-Value="invoiceLine.MainAccount">
                            <option value="">Select</option>
                            @foreach (var mainAccount in allAccounts)
                            {
                                <option value="@mainAccount.Key">@mainAccount.Key</option>
                            }
                        </InputSelect>
                    </div>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group @(String.IsNullOrEmpty(ErrorMessagesForField(nameof(invoiceLine.SchemeCode))) ? "" : "govuk-form-group--error")">
                        <label class="govuk-label" for="scheme-code">Scheme Code</label>
                        @if (!String.IsNullOrEmpty(ErrorMessagesForField(nameof(invoiceLine.SchemeCode))))
                        {
                            <p id="description" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> @ErrorMessagesForField(nameof(invoiceLine.SchemeCode))
                            </p>
                        }
                        <InputSelect class="@(String.IsNullOrEmpty(ErrorMessagesForField(nameof(invoiceLine.SchemeCode))) ? "govuk-select govuk-!-width-full" : "govuk-select govuk-!-width-full govuk-select--error")" for="scheme-code" @bind-Value="invoiceLine.SchemeCode">
                            <option>Select</option>
                            @foreach (var schemeCode in allSchemeCodes)
                            {
                                <option value="@schemeCode.Key">@schemeCode.Key</option>
                            }
                        </InputSelect>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group @(String.IsNullOrEmpty(ErrorMessagesForField(nameof(invoiceLine.MarketingYear))) ? "" : "govuk-form-group--error")">
                        <label class="govuk-label" for="marketing-year">Marketing Year</label>
                        @if (!String.IsNullOrEmpty(ErrorMessagesForField(nameof(invoiceLine.MarketingYear))))
                        {
                            <p id="description" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> @ErrorMessagesForField(nameof(invoiceLine.MarketingYear))
                            </p>
                        }
                        <InputSelect class="@(String.IsNullOrEmpty(ErrorMessagesForField(nameof(invoiceLine.MarketingYear))) ? "govuk-select govuk-!-width-full" : "govuk-select govuk-!-width-full govuk-select--error")" for="marketing-year" @bind-Value="invoiceLine.MarketingYear">
                            <option value="">Select</option>
                            @foreach (var marketingYear in allMarketingYears)
                            {
                                <option value="@marketingYear.Key">@marketingYear.Key</option>
                            }
                        </InputSelect>
                    </div>
                </div>
            </div>

            <div class="govuk-form-group">
                <div class="govuk-button-group">
                    <button type=submit class="govuk-button" data-prevent-double-click="true" data-module="govuk-button" @onclick="SaveInvoiceLine">Save and Continue</button>
                    <a class="govuk-link" @onclick="Cancel" href>Cancel</a>
                </div>
            </div>

        </EditForm>

    </section>
}