@using Helpers
@using EST.MIT.Web.Shared.Components.InvoiceMetaData
@inject IJSRuntime JS

@if (importRequests.IsNull())
{
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Error</h2>
        </div>
        <div class="govuk-summary-card__content">
            <h4 class="govuk-heading-s">Nothing to Display</h4>
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Information</span>
                    Has the user uploaded any files?
                </strong>
            </div>
        </div>
    </div>
}
else
{
    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--l">My Uploads</caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Uploaded on</th>
                <th scope="col" class="govuk-table__header">Account Type</th>
                <th scope="col" class="govuk-table__header">Organisation</th>
                <th scope="col" class="govuk-table__header">Scheme Type</th>
                <th scope="col" class="govuk-table__header">Payment Type</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header">Download</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var importRequest in importRequests)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@FormatTimestamp(importRequest.Timestamp)</td>
                    <td class="govuk-table__cell">@importRequest.AccountType</td>
                    <td class="govuk-table__cell">@importRequest.Organisation</td>
                    <td class="govuk-table__cell">@importRequest.SchemeType</td>
                    <td class="govuk-table__cell">@importRequest.PaymentType</td>
                    <td class="govuk-table__cell">
                        @if (importRequest.Status == Entities.UploadStatus.Upload_successful)
                        {
                            <strong class="govuk-tag govuk-tag--blue">
                                @importRequest.Status
                            </strong>
                        }
                        else if (importRequest.Status == Entities.UploadStatus.Upload_failed)
                        {
                            <strong class="govuk-tag govuk-tag--red">
                                @importRequest.Status
                            </strong>
                        }
                        else if (importRequest.Status == Entities.UploadStatus.Upload_validated)
                        {
                            <strong class="govuk-tag govuk-tag--yellow">
                                @importRequest.Status
                            </strong>
                        }
                        else if (importRequest.Status == Entities.UploadStatus.Uploaded)
                        {
                            <strong class="govuk-tag govuk-tag--green">
                                @importRequest.Status
                            </strong>
                        }
                        else
                        {
                            <strong class="govuk-tag">
                                @importRequest.Status
                            </strong>
                        }
                    </td>
                    <td class="govuk-table__cell">
                        <p class="govuk-body">
                            <a @onclick="() => DownloadFile(importRequest)" class="govuk-link govuk-link--no-underline">
                                <img src="/assets/images/icon-file-download.png" alt="icon-file-download" style="height: 1em; width: auto; vertical-align: text-bottom; margin-right: 5px;">
                                @importRequest.FileName
                            </a>
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}